
body {
  text-align: center;
  font-family: Arial, serif;
  font-family: 'Merriweather', serif;
  margin: 0px;

}


h1 {
  display: block;
  font-size: 5.6285rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 50px, auto,0,auto;
  font-weight: bold;
  font-family: 'Sacramento', serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-weight: bold;
  font-family: 'Montserrat', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF
}

h3 {
  font-weight: bold;
  font-family: 'Montserrat', serif;
font-size: 1.5rem;
color: #11999E;}

hr {
border-style: dotted;
border-bottom-style: none;
height : 0px;
border-width: 5px;
width: 3%;
border-color: grey;
}

a {
  padding: 30px;
}



  .topcontainer {
    position: relative;
    padding-top: 100px;
    background-color: #e4f9f5;
  }

  .topcloud {
    position: absolute;
    right: 550px;
    top: 50px;
  }

  .bottomcloud {
    position: absolute;
    left: 550px;
    bottom: 300px;
  }

  .profilepic {
  border-radius: 50%;
  width: 10%;
  height: auto;}

.animation {
  width: 25%;
  height: auto;
  float :left;
  margin-right: 30px;
}

.vis {
  float : right;
  margin-left: 30px
}


.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 30px;
}

.footer-link {
  font-weight: bold;
  font-family: 'Montserrat', serif;
  color : #11999E;
  padding: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left ;
  line-height: 2;
}

.contact-me {
padding: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
